:root{
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  }

  body {
    margin: 0;
    font-family: var(--font-mono);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #B19CD9;
  }
  
  header {
    display: flex;
  }
  
  .navContainer nav {
    width: inherit;
  }
  
  /* Elementos de la lista del menú */
  nav ul > li {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    min-width: 3.4rem;
    height: 100%;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s; /* Ajustamos la transición del color al hacer hover */
  }
  
  
  nav ul > li:hover {
    color: #B19CD9;
  }
  
  nav ul li > i {
    margin: 0 auto;
  }
  
  /* Estilos para la barra de menú */
  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05010e;
    min-width: 3.4rem;
    height: 100%;
    transition: min-width 0.5s ease;
    overflow: hidden;
  }
  
  .navBarOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05010e;
    min-width: 12rem;
    height: 100%;
    transition: min-width 0.5s ease;
  }
  
  /* Lista del menú */
  .navContainer nav ul {
    margin: 1.6rem auto;
    position: fixed;
    display: flex;
    row-gap: 1.6rem;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    color: #e2cfea;
    box-sizing: border-box;
    padding: 0;
    transition: 0.8s ease;
  }
  
  .menuText {
    display: none;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease;
  }
  
  .menuText.show {
    display: inline-block;
    margin: 0 1rem;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  /* Icono del menú */
  .menuIcon {
    cursor: pointer;
    transition: 0.7s;
    color: white;
    font-size: 1.6rem;
  }
  
  .navContainer nav ul li:not(:first-child) i {
    margin:0 auto;
  }
  
  .menuIcon:hover {
    cursor: pointer;
    transition: 0.6s;
    transform: rotate(90deg);
    color: #b092f1;
  }
  
  /* Estilos para la sección de perfil */
  .profileContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  /* Estilos para la sección principal */
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-container p {
    margin: auto 10%;
  }
  
  /* Estilos para el componente EquitySplitter */
  .equitySplitter {
    display: flex;
    flex-direction: column;
    margin: 10%;
    margin-bottom: 60px;
  }
  
  .splitResult {
    display: flex;
    flex-direction: column;
  }
  
  .splitResult li {
    list-style: none;
    margin: 8px 0;
  }
  